*{
    margin: 0;
    padding: 0;
}
.carousel{
    text-align: center;
    height: 50vh;
    border: 3px solid black;
}
h1{
    text-align: center;
   
}
.showlist {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
  gap: 5%;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto; 
  }
  
 
  .product {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 16px;
    height: 390px;           
    width: 100%;           
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    cursor: pointer;
  }
  
  .product:hover {
    transform: scale(1.02);
  }
  
 
  .product img {
    height: 250px;
    width: 250px;
    object-fit: contain;
    margin-bottom: 12px;
  }
  

  .product p {
    margin: 4px 0;
    font-size: 1rem;
    color: #333;
    
  }
  